<h1 style="text-align: center;">Welcome to Ideas factory!</h1>
<p style="text-align: center;">Please click on Ideas Index page to view ideas.</p>
<p style="text-align: center;">Click on "New Idea" button to add idea.</p>