body {
    background-image: url("background-image.jpg");
    background-size: 1920px 1080px;
}

.navbar {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.signup-div {
    display: flex;
    justify-content: center;
}

.signup-div-child {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.signin-div {
    display: flex;
    justify-content: center;
}

.signin-div-child {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.new-idea.btn {
    display: flex;
    justify-content: flex-end;
}

.new-div {
    display: flex;
    justify-content: center;
}

.new-div-child {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.logo {
    margin-right: auto;
    padding: 10px 0px 0px 0px;
}

.edit-div {
    display: flex;
    justify-content: center;
}

.edit-div-child {
    padding: 10px;
    border: 5px solid grey;
    margin: 10px;
    width: 20%;
    border-radius: 5px;
}

.show-div {
    padding: 10px;
}

.index-div {
    padding: 10px;
}